[Unit]
Description=Temperature Sensor
After=network.target

[Service]
ExecStart=/home/pi/temp_sensor_project/venv/bin/python /home/pi/temp_sensor_project/sensor.py
WorkingDirectory=/home/pi/temp_sensor_project
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
