[Unit]
Description=Watchdog Service
After=network.target dht.service

[Service]
ExecStart=/home/pi/Desktop/Temperatur_Sensor_ASAIR_AM2302_Skript_/venv/bin/python /home/pi/Desktop/Temperatur_Sensor_ASAIR_AM2302_Skript_/watchdog.py
WorkingDirectory=/home/pi/Desktop/Temperatur_Sensor_ASAIR_AM2302_Skript_
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
